@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  background: #d7d9d8;
  height: fit-content;
}

.upperSection{
  height: 13rem;
  background-color: #0ed745;
  padding-top: 3.5rem;
}

.upperSection span{
  font-size: 32px;
  font-weight: 700;
  color: aliceblue;
  margin-left: 4rem;
}

.lowerSection{
  /* background-color: #8d908e; */
  margin: 0 8rem 0 8rem;
}